# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Data Science Tools

Some of the popular languages that Data Scientists use are:
    
    1.Julia
    2.Python
    3.R

Some of the commonly used libraries used by Data Scientists include:
    
    1.Matplotlib
    2.TensorFlow
    3.NumPy

|Data Science Tools|
--------------------
|JupyterNotebooks|
|Rstudio|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
# A simple print statement that multiplies 3 with 4 and then adds 5
print((3*4)+5)

17

In [14]:
# This will convert 200 minutes to hours by dividing by 60
print(200/60)

3.3333333333333335

## Author
Adnan Zafar